div.products{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 40px;
  grid-gap: 10px;
}
.product{
	border: 1px solid #0cde9c1c;
	border-radius: 5px;
	text-align: center;
	display: inline;
	max-width: 400px;
	max-height: 800px;
	
}

.product:hover{
	box-shadow: 1px 1px 2px 2px #0cde9c1c;
	cursor: pointer;	
}


.product  h2 ,
.product h3 ,
.product h4 ,
.product > div{
	border-bottom: 2px solid #0cde9c1c;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px;
	max-width:95%;
}

.product .author{
	/*text-align: right;*/
	display: inline-block;
	margin-right: 40px;
	color: #0cde9c;
	
}
.product .date{
	/*text-align:left ;*/
	display: inline-block;
	/*padding-left: 50px;*/
	text-decoration: overline #0cde9c1c;

}

.imgOut{
	max-height: 100%;
}

.imgOut img{
	max-width: 300px;
	max-height: 200px;
}

a{ 
	text-decoration: none;
	color: #343434;
}
